.default {
  --font-Montserrat: "Montserrat", sans-serif;
  --containerPadding: 0 6.613756613756613vw;
  --spacing12: 0.7936507936507936vw;
  --spacing20: 1.3227513227513228vw;
  --spacing24: 1.5873015873015872vw;
  --spacing36: 3.076923076923077vw;
  --spacing30: 1.984126984126984vw;
  --spacing40: 2.6455026455026456vw;
  --spacing50: 3.3068783068783065vw;
  --spacing60: 3.968253968253968vw;
  --spacing70: 4.62962962962963vw;
  --spacing80: 5.291005291005291vw;
  --spacing90: 5.952380952380952vw;
  --spacing100: 6.613756613756613vw;
  --spacing120: 7.936507936507936vw;
  --spacing150: 9.920634920634921vw;
  --spacing200: 13.227513227513228vw;
  --spacing250: 16.534391534391533vw;
  --spacing300: 19.84126984126984vw;
  --spacing384: 25.396825396825395vw;
  --spacing400: 26.455026455026456vw;
  --spacing500: 33.06878306878307vw;
  --containerPadding150: 0 9.920634920634921vw;
  --containerMarginTop: 9.920634920634921vw;
  --backgroundContainerPadding: 6.510416666666667vw 9.765625vw;
  --mobileContainerMarginTop: 16vw;
  --mobileContainerPadding: 0 6.4vw;
  --mobileBackgroundContainerPadding: 10.666666666666668vw 6.4vw;
  --borderRadius: 0.6613756613756614vw;
  --mobileBorderRadius: 2.666666666666667vw;
  --padding100: 6.613756613756613vw;
  --margin15: 0.992063492063492vw;
  --margin20: 1.3227513227513228vw;
  --margin30: 1.984126984126984vw;
  --margin70: 4.62962962962963vw;
  --margin100: 6.613756613756613vw;
  --gap70: 4.62962962962963vw;
  --gap20: 1.3227513227513228vw;
  --gap30: 1.984126984126984vw;
  --gap32: 2.1164021164021163vw;
  --gap40: 2.6455026455026456vw;
  --gap50: 3.3068783068783065vw;
  --mainbgColor: #12171c;
  --bgColor: #0c1117;
  --font18: 1.1904761904761905vw;
  --font24: 1.5873015873015872vw;
  --font28: 1.8518518518518516vw;
  --lineHeight18: 1.6666666666666667vw;
  --lineHeight24: 2.2222222222222223vw;
  --lineHeight28: 2.169973544973545vw;
  --lineHeight30: 2.380952380952381vw;
  --lineHeight32: 2.513227513227513vw;
  --lineHeight40: 3.1746031746031744vw;
  --letterSpace18: 0.023809523809523808vw;
  --letterSpace24: 0.015873015873015872vw;
  --letterSpace28: 0.03703703703703704vw;
  --mfont16: 4.266666666666667vw;
  --mlineHeight16: 5.973333333333334vw;
  --mletterSpace16: 0.08533333333333333vw;

  --mfont12: 3.2vw;
  --mlineHeight12: 4.4799999999999995vw;
  --mletterSpace12: 0.4266666666666667vw;
  --mfont14: 3.733333333333334vw;
  --mlineHeight14: 5.226666666666667vw;
  --mletterSpace14: 0.4266666666666667vw;

  --mfont18: 4.8vw;
  --mlineHeight18: 5.624vw;
  --mletterSpace18: 0.4266666666666667vw;

  --mspacing4: 1.0666666666666667vw;
  --mspacing8: 2.1333333333333333vw;
  --mspacing10: 2.666666666666667vw;
  --mspacing12: 3.2vw;
  --mspacing14: 3.733333333333334vw;
  --mspacing16: 4.266666666666667vw;
  --mspacing18: 4.8vw;
  --mspacing20: 5.333333333333334vw;
  --mspacing24: 6.4vw;
  --mspacing30: 8vw;
  --mspacing40: 10.666666666666668vw;
  --mspacing50: 13.333333333333334vw;
  --mspacing60: 16vw;
  --mspacing70: 18.666666666666668vw;
  --mspacing80: 20.8vw;
  --mspacing100: 26.4vw;
  --mspacing120: 32vw;
  --mspacing150: 39.99999999999999vw;
}

.container {
  padding: var(--spacing100) var(--spacing250);
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  margin-top: var(--spacing60);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--font24);
}

.row {
  display: flex;
  gap: var(--font24);
  width: 100%;
}

.row input::placeholder,
.row textarea::placeholder {
  color: #7e7e7e;
  font-size: 1rem;
  opacity: 1;
  font-weight: 400;
  font-size: var(--font18);
  letter-spacing: var(--letterSpace18);
}

.row input {
  width: 100%;
  border: none;
  height: 4.365079365079365vw;
  padding-left: var(--spacing30);
}

.twoFields input {
  width: 32.60582010582011vw;
}

.row textarea {
  width: 100%;
  padding-left: var(--spacing30);
  padding-top: var(--spacing30);
  height: 13.095238095238097vw;
  border: none;
}

.bottomContainer {
  margin-top: var(--spacing100);
}

.cards {
  display: flex;
  gap: var(--gap40);
  margin-top: var(--spacing20);
}

.card {
  display: flex;
  align-items: center;
  gap: 0.7936507936507936vw;
}

.card1 p {
  white-space: nowrap;
}

.iconContainer {
  width: 3.3068783068783065vw;
  height: 3.3068783068783065vw;
  border-radius: 3.3068783068783065vw;
  background-color: #002d4c;

  display: flex;
  justify-content: center;
  align-items: center;
}

.location {
  width: 26vw;
}

@media only screen and (max-width: 767px) {
  .container {
    display: flex;
    padding: var(--mspacing40) var(--mspacing24);
    gap: 0;
    align-items: center;
    /* margin-bottom: var(--mspacing60); */
    flex-direction: column;
  }

  .form {
    margin-top: var(--mspacing30);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--mspacing20);
  }

  .row {
    display: flex;
    gap: var(--mspacing20);
    width: 100%;
    flex-direction: column;
  }

  .row input::placeholder,
  .row textarea::placeholder {
    color: #7e7e7e;
    font-size: 3.733333333333334vw;
    font-weight: 400;
    line-height: 5.866666666666666vw;
    letter-spacing: -0.0009599999999999999vw;
    opacity: 1;
  }

  .row input {
    width: 100%;
    border: none;
    height: 16.53333333333333vw;
    padding-left: var(--mspacing24);
  }

  .twoFields input {
    width: 100%;
  }

  .row textarea {
    width: 100%;
    padding-left: var(--mspacing24);
    padding-top: var(--mspacing20);
    height: 49.6vw;
    border: none;
  }

  .bottomContainer {
    margin-top: var(--mspacing40);
    width: 100%;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: var(--mspacing20);
    margin-top: var(--mspacing20);
    width: 100%;
    align-items: flex-start;
  }

  .card {
    display: flex;
    align-items: center;
    gap: var(--mspacing12);
    width: 100%;
  }

  .card1 p {
    white-space: nowrap;
  }

  .iconContainer {
    width: var(--mspacing40);
    height: var(--mspacing40);
    border-radius: var(--mspacing40);
    background-color: #002d4c;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .iconContainer img {
    width: 5.973333333333334vw;
    height: 5.973333333333334vw;
  }

  .location {
    width: 90%;
  }

  .location:nth-child(2) {
    width: 85%;
  }
}
