.carouselButtonContainer {
  display: flex;
  gap: 1.3227513227513228vw;
  justify-content: center;
}

.carouselButtonContainerLeft,
.carouselButtonContainerRight {
  width: 2.976190476190476vw;
  height: 2.976190476190476vw;
  background-color: #002d4c;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease 0.1s;
}

.carouselButtonContainerLeft:hover,
.carouselButtonContainerRight:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  transition: all 0.3s ease;
}

.arrow {
  width: 1.1904761904761905vw;
  height: max-content;
  filter: brightness(1000%);
}

@media only screen and (max-width: 767px) {
  .carouselButtonContainer {
    gap: 4vw;
    width: auto !important;
  }

  .carouselButtonContainerLeft,
  .carouselButtonContainerRight {
    width: 9.333333333333334vw;
    height: 9.333333333333334vw;
    border-radius: 9.333333333333334vw;
  }

  .arrow {
    width: 2.666666666666667vw;
    height: 2.666666666666667vw;
  }
}